<div class="footer-inner">
    <div>
        <h1>Service</h1>
        <ul>
            <li>Payment methods</li>
            <li>Shipping and collection</li>
            <li>Returns and faulty products</li>
            <li>Return policy</li>
            <li>Service offerings</li>
            <li>Warranty extensions</li>
        </ul>
    </div>

    <div>
        <h1>About us</h1>
        <ul>
            <li>Digitedc Galaxus AG</li>
            <li>Management</li>
            <li>Sustainability</li>
            <li>Press</li>
            <li>General terms and conditions</li>
            <li>Limitation of liability</li>
        </ul>
    </div>

    <div>
        <h1>Locations</h1>
        <ul>
            <li>Basel</li>
            <li>Bern</li>
            <li>Dietikon</li>
            <li>Geneva</li>
            <li>Kriens</li>
            <li>Lausanne</li>
        </ul>
    </div>

    <div>
        <h1>Service</h1>
        <ul>
            <li>Payment methods</li>
            <li>Shipping and collection</li>
            <li>Returns and faulty products</li>
            <li>Return policy</li>
            <li>Service offerings</li>
            <li>Warranty extensions</li>
        </ul>
    </div>

    <div>
        <h1>Service</h1>
        <ul>
            <li>Payment methods</li>
            <li>Shipping and collection</li>
            <li>Returns and faulty products</li>
            <li>Return policy</li>
            <li>Service offerings</li>
            <li>Warranty extensions</li>
        </ul>
    </div>
</div>