<nav>
    <a href="/" class="brand"><img src="/resources/cpu-turm.png" style="height: 40px; width: auto;"></a>
    <h1 style="display: inline-block; transform: skew(-10deg);">InTech</h1>
    <form>
        <div class="input-wrapper">
            <input placeholder="What are you looking for?">
            <button class="clear-btn icon-btn"><i class="fi fi-rr-search"></i></button>
            <button class="search-btn icon-btn"><i class="fi fi-rr-camera"></i></button>
        </div>
    </form>
    <div class="navbar-wrapper">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="#about">About</a></li>
            <li id="cart-field">
                <a href="#cart" (click)="toggleCart(); $event.preventDefault()">
                    Cart <span class="cart-badge">{{ cartItems().length }}</span>
                </a>
                @if (isCartOpen()) {
                <div id="cart-popup">
                    @for (item of cartItems(); track item.product.id) {
                    <div class="cart-item" (click)="removeItem(item.product)">
                        <p class="product-name">{{ item.product.name }}</p>
                        <p class="product-price">${{ item.product.price }}</p>
                        <p class="product-description">{{ item.product.description }}</p>
                        <p>{{ item.quantity }}x</p>
                        
                    </div>
                    } @empty {
                    <p class="empty-cart">Your cart is empty</p>
                    }
                    <div id="cart-bottom">
                        <span>{{ totalPrice() }}.-</span>
                        <button class="checkout-btn">Checkout</button>
                    </div>
                </div>
                }
            </li>
        </ul>
    </div>
</nav>