<ul>
    <li><a href="\">Audio</a></li>
    <hr>
    <li><a href="\">Office + Stationery</a></li>
    <hr>
    <li><a href="\">Drones + Electronics</a></li>
    <hr>
    <li><a href="\">Photo + Video</a></li>
    <hr>
    <li><a href="\">Gaming + VR</a></li>
    <hr>
    <li><a href="\">Networking</a></li>
    <hr>
    <li><a href="\">Notebooks + PCs</a></li>
    <hr>
    <li><a href="\">PC components</a></li>
    <hr>
    <li><a href="\">Peripherals</a></li>
    <hr>
    <li><a href="\">Smartphone + Tablets</a></li>
    <hr>
    <li><a href="\">Office + Stationery</a></li>
    
</ul>
